@use "../abstracts/mixins" as mixin;

.footer {
  padding: 50px 0;
  background-color: var(--grey);

  & .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    &-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      color: var(--white);
    }

    &-general {
      &-item {
        @include mixin.mb(20px);
      }

      &-link {
        display: inline-flex;
        align-items: center;
        outline: 1px solid transparent;
        transition: all 0.3s ease-in-out;

        &::before {
          content: "";

          display: block;

          width: 24px;
          height: 24px;
          margin-right: 10px;

          background-repeat: no-repeat;
        }

        &.location::before {
          background-image: url("../../assets/images/home_footer/location.svg");
        }

        &.phone::before {
          background-image: url("../../assets/images/home_footer/phone.svg");
        }

        &:focus {
          border-radius: 4px;
          outline: 1px solid var(--red);
          outline-offset: 10px;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          color: var(--red);
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &-additional {
      &-title {
        position: relative;

        display: flex;

        margin-bottom: 6px;

        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: var(--white);

        &::before {
          content: "";

          position: absolute;
          top: 50%;
          left: -10%;
          transform: translate(-50%, -50%);

          display: block;

          width: 24px;
          height: 24px;
          margin-right: 10px;

          background-image: url("../../assets/images/home_footer/clock.svg");
          background-repeat: no-repeat;
        }
      }
    }
  }
}
